@{
    ViewBag.Title = "Error";
    Layout = "/Views/Shared/_AnonimoLayout.cshtml";
}
<br />
    <h2>Error</h2>

<h3>@ViewBag.Title2</h3>

<h4>@ViewBag.Description</h4>

<a href="/" ><button type="button" class="btn btn-primary">Ir a inicio</button></a>
