@{
    ViewBag.Title = "Acerca de";
    Layout = ViewBag.Layout;
}

<h2>Acerca De</h2>

<blockquote class="blockquote text-center">
    <img src="~/Content/Img/grupo.png" class="fotogrupo">
 <p> Cascallares Gabriel | Snyder Alan | Minetti Camila</p>
</blockquote>


