@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "Ver preguntas";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TpFinal 3</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Login/AlumnoIndex">Inicio</a></li>
            <li><a href="/Alumno/VerPreguntasAlumno">Preguntas</a></li>
            <li><a href="/Alumno/AcercaDe">Acerca De</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </div>
</nav>

<h2>Preguntas</h2>
<h4>
    Recordá que cuanto antes respondas correctamente, más chances tenes de sumar un mejor puntaje,
    y si tu respuesta es la más completa, vas a recibir un puntaje extra!
</h4>

<a href="#">Ver preguntas sin responder</a> <br />
<a href="#">Ver preguntas respondidas</a>

<h1>Preguntas sin responder</h1>

@foreach (Pregunta item in ViewBag.PreguntasSinRespuesta)
{
    <p>@item.Clase.Nombre @item.Tema.Nombre</p>
    <p>@item.Pregunta1 <a href="/Alumno/ResponderPregunta/@item.IdPregunta">Responder</a> </p>
    <br />
}
<br />

@Html.Partial("pv_Footer")

