<footer>
    <div>
        <blockquote class="blockquote text-center">
            <h3>Programacion Web 3 20191C - Grupo 6 </h3>
            <p> Cascallares Gabriel 37376896 | Minetti Camila 41768854 | Snyder Alan 41693362 </p>
        </blockquote>
    </div>
</footer>