
@model TpFinalWeb3.Models.Servicios.LoginServicio
@{
    ViewBag.Title = "Login | MIEL";
    Layout = "/Views/Shared/_AnonimoLayout.cshtml";
}


    <div class="container flex-container">
        <div class="col-sm-12 col-md-3 text-center">


            <h2>Iniciar Sesión</h2>

         
            <form action="~/Login/Login" method="post">
                @Html.ValidationMessageFor(Model => Model.Email)
                <div class="form-group text-center">
                    Email
                    <input class="form-control text-center" type="email" name="Email" required /><br>
                </div>
                <div class="form-group text-center">
                    Contraseña
                    @Html.ValidationMessageFor(Model => Model.Password)
                    <input class="form-control text-center" type="password" name="Password" required /><br>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="CheckProfesor" value="1">Soy Profesor<br>
                </div>
                @ViewBag.MensajeError
                <div class="form-group">
                    <input class="btn btn-primary btn-info" type="submit" value="Ingresar" />
                </div>
            </form>
                </div>
            </div>





