@model TpFinalWeb3.Profesor

@{
    ViewBag.Title = "Bienvenido Profesor";
    Layout = "/Views/Shared/_ProfesoresLayout.cshtml";
}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


      <div class="jumbotron">
          <h2>Bienvenido @Model.Nombre!</h2> <br />
          <p class="lead">
              En la pestaña "PREGUNTAS" podrás ver las preguntas ya publicadas,
              las cuales podrás eliminar o modificar;
              y las respuestas de los alumnos, las cuales podrás calificar. <br /> <br />
              En la pestaña "CREAR PREGUNTAS" podrás crear nuevas preguntas para tus alumnos. <br />
          </p>

          <div class="alert alert-dismissible alert-secondary">
              Recordá evitar hacer modificaciones en preguntas que puedan repercutir en las respuestas recibidas
          </div>

          <hr class="my-4">
          <p>Esperamos que tengas una grata experiencia en el sitio :)</p>
      </div>
